<% if (mi_coleccion) { %>
    <h1>MI COLECCIÓN: <%= mi_coleccion %></h1>
<% } else { %>
    <h1>RESULTADO CONSULTA</h1> 
<% } %>

<table id="tabla_consultas">

    <% for (var i in coleccion) { %>
        <% var monedas = coleccion[i]; %>
        <tr>
            <% if (tipo) { %>
                <% const num_conme = monedas.moneda.match(/.$/); %>
                <td><img src="/images/monedas/<%= monedas.pais.nombre %>/2€-<%= monedas.año %>-<%= num_conme %>.jpg" width="50" height="50"></td>   
            <% } %>
            <% if (!mi_coleccion) { %>
                <td><%= monedas.coleccionista.nombre %></td>
            <% } %>
            <td><%= monedas.pais.nombre %></td>
            <td><%= monedas.moneda %></td>
            <td><%= monedas.ceca %></td>
            <td><%= monedas.año %></td>
            <td>
                <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === monedas.coleccionistaId)) { %>
               <!-- <a href="/coleccion/<%= monedas.id %>/edit" class="button">Editar</a> -->
                    <a href="/coleccion/<%= monedas.id %>?_method=DELETE"
                        onClick="return confirm('Borrar: Moneda <%= monedas.moneda %> de <%=monedas.pais.nombre %> de <%=monedas.año %> ');"
                        class="button_tabla">Eliminar</a>
                <% } %>
                </td>           
        </tr>
    <% } %>
</table>
<br>
<a href="/goback" class="button">Volver</a>
<br>
<% if (count) { %>
    <div>
        <h3>Número de monedas = <%= count %></h3>
        <h3>Valor de las monedas = <%= valor %>€</h3>
    </div>
<% } %>