<% let tipo_monedas = ["1c", "2c", "5c", "10c", "20c", "50c", "1€", "2€", "2€ Com1", "2€ Com2", "2€ Com3", "12€_1", "12€_2"]; %>
<% let cecas_alemania = ["A", "F", "G", "J", "D"]; %>
<h1>TABLA MONEDAS DE <%= pais %></h1> 
<table id="tabla_monedas">
    <thead>
        <tr> 
            <th></th>
            <% if (pais === "España") { %>
                <% for (let i = 0; i < tipo_monedas.length; i++) { %>
                    <th><%= tipo_monedas[i] %></th>
                <% } %>
            <% } else if (pais === "Alemania"){ %>
                <th>ceca</th>
                <% for (let i = 0; i < tipo_monedas.length-2; i++) {%>
                    <th><%= tipo_monedas[i] %></th>
                <% } %>
            <% } else {%>
                <% for (let i = 0; i < tipo_monedas.length-2; i++) {%>
                    <th><%= tipo_monedas[i] %></th>
                <% } %>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for (let año = año_inicio; año <= new Date().getFullYear(); año++) { %>
            <% if (pais === "España") { %>
                <tr>
                    <th><%= año %></th>
                    <% for (let i = 0; i < tipo_monedas.length; i++) {%>
                        <td><%= tabla["_"+año.toString()][i] %></td>
                    <% } %>
                </tr>
            <% } else if (pais === "Alemania") { %>
                <% cecas_alemania.forEach(ceca => { %>
                    <tr>
                        <% for (let i = 0; i < tipo_monedas.length-1; i++) {%>
                            <% if (i === 0 && ceca === "A") { %>
                                <th rowspan = "<%= cecas_alemania.length %>">  <%= año %> </th>
                                <th><%= ceca %></th>
                            <% } else if (i === 0 && ceca !== "A") { %>
                                <th><%= ceca %></th>
                            <% } else { %>
                                <td><%= tabla["_"+año.toString()+ceca][i-1] %></td>
                            <% } %>
                        <% } %> 
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <th><%= año %></th>
                    <% for (let i = 0; i < tipo_monedas.length-2; i++) {%>
                        <td><%= tabla["_"+año.toString()][i] %></td>
                    <% } %>
                </tr>

            <% } %>
        <% } %>    
    </tbody>
</table>
<br>
<a href="/goback" class="button">Volver</a>