<h1>
    Usuarios
</h1>

<table id="usersIndex">
    <% for (var i in users) { %>
        <tr>

            <td>
                <a href="/users/<%= users[i].id %>" ><%= users[i].nombre %></a>
                <%= users[i].isAdmin ? "(administrador)" : "" %>
            </td>

            <td>
                <a href="/users/<%= users[i].id %>/edit" class="button">Editar</a>
                <a href="/users/<%= users[i].id %>?_method=DELETE"
                   onClick="return confirm('Borrar usuario: <%= users[i].nombre %>');"
                       class="button">Borrar</a>
            </td>

        </tr>
    <% } %>
</table>

<a href="/users/new" class="button">Crear nuevo usuario</a>

<!-- <% if (locals.loginUser && locals.loginUser.isAdmin) { %> 
    <a href="/users/new" class="button">Create new user</a>
 <% } %> -->