<h1>
    Usuario:
</h1>

<ul>
    <li>
        Nombre del usuario:
        <b><%= user.nombre %></b>
    </li>

    <li>
        Administrador:
        <b><%= user.isAdmin ? "Yes" : "No" %></b>
    </li>

    <p>
        <% if (locals.loginUser.displayName !== "Invitado") { %>
            <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === user.id)) { %>
                <a href="/users/<%= user.id %>/edit" class="button">Editar</a>
            <% } %>
        <% } %>
        <% if (locals.loginUser && locals.loginUser.isAdmin) { %>
            <a href="/users/<%= user.id %>?_method=DELETE"
                onClick="return confirm('Delete user: <%= user.nombre %>');"
                class="button">Delete</a>
        <% } %>
    </p>

<a href="/goback" class="button">Volver</a>

